html{
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Cuprum', 'PT Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  background: black;
}
.wrapper {
  max-width: 1160px;
  margin: 0 auto;
}
.link, .top-nav-link {
  text-decoration: none;
}
.top-wrapper{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
align-items: flex-end;
}
.top-nav-menu {
  display: flex;
  flex-wrap: wrap;
}
.top-nav-link {
  margin-right: 50px;
  list-style: none;
}
.top-nav-link:last-child{
  margin-right: 0;
}